.summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  width: 100%;

  .name {
    font-size: 18px;
    font-weight: 800;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;

  .description {
    margin-bottom: 10px;
  }
}
