.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 249px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-top: 16px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  form {
    align-content: center;
  }

  input,
  button {
    height: 34px;
    margin: 4px;
    border-radius: 5px;
    text-align: center;
  }

  button {
    width: 100px;
    cursor: pointer;
  }
}
